/*****************************************************************************
 상단/하단(헤더/푸터)
*****************************************************************************/

.header {
    margin: 0px;
}
.header-brand {
    font-size: 20px;
    font-family: sans-serif;
}


.footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    height:50px;
}

/*****************************************************************************
 ㅇ
*****************************************************************************/
